{{yield}}
<div local-class="tallied-results-container" data-test-tallied-results-component>
  <h2 local-class="tallied-result-title">Tallied Up Results</h2>
  {{#each @users as |user|}}
  <div
    local-class="tallied-item {{if (isPositive (calculateTally @totalExpense user @users.length)) "plus-money" "minus-money"}}"
    data-test-taillied-user-item>
    {{user.name}}:
    {{ displaySign (dollarDisplay (calculateTally @totalExpense user @users.length)) }}</div>
  {{/each}}
</div>