.user-item {
  border: white 1px solid;
  border-radius: 10px;
  padding: 5px 0 5px 10px;
  margin-bottom: 0.5rem;
}

.user-list-container {
  height: 200px;
  overflow: auto;
  padding-left: 0;
  padding-right: 10px;
}

.add-user-btn {
  margin-left: 5px;
}